# macOS
.DS_Store
**/.DS_Store

# Data
data/raw/
data/processed/
data/intermediate/
data/final/

# Models
models/

# Large files
*.csv
*.parquet
*.h5
*.safetensors
*.bin
*.pt
*.pth

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
